<div class="container" style="padding-top:50px;">

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">

          <h1 style="text-align:center">Forgot Password</h1><br>

          <p style="text-align: center;">No Problem! Enter your email below and we will send you an email with
            instruction to reset your password.</p>

          <!--Form Start-->
          <form #forgotPwdForm="ngForm" (ngSubmit)="onSubmit(forgotPwdForm.value)">

            <!--Registered Email-->
            <div class="form-group">
              <span style="font-weight: bold">Enter your email: </span>
              <input type="email" name="inputEmail" id="inputEmail" [(ngModel)]="inputEmail" class="form-control"
                placeholder="Your Email" #emailField="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                required autofocus>
            </div>
            
            <div *ngIf="emailField.errors && (emailField.dirty || emailField.touched)" class="alert alert-danger">

              <div [hidden]="!emailField.errors.required"> Please enter a email </div>
              <div [hidden]="!emailField.errors.pattern"> Please enter a valid email address </div>
            </div>

            <button type="button" class="btn btn-block btn btn-success" [disabled]="!forgotPwdForm.form.valid"
              (click)="sendLink()">Send Link</button>
          </form>
          <!--End of Form-->

        </div>
      </div>
    </div>
  </div>
</div>
<!--Container div end-->