<div class="container" style="padding-top:10px;">

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">

          <h1 style="text-align:center">Change Password</h1><br>

          <!--Form Start-->
          <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">

            <!--New Password-->
            <div class="form-group">
              <span style="font-weight: bold">New Password: </span>
              <input type="password" name="inputNewPwd" [(ngModel)]="inputNewPwd" class="form-control"
                placeholder="Password" #newPassword="ngModel" required
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">

            </div>
            <div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">

              <div [hidden]="!newPassword.errors.required"> Please enter a password </div>
              <div [hidden]="!newPassword.errors.pattern"> Password must contain a minimum of 8 characters,
                at least 1 letter, 1 number and 1 special character! </div>
            </div>

            <!--Confirm Password-->
            <div class="form-group">
              <span style="font-weight: bold">Confirm Password: </span>
              <input type="password" name="confirmPwd" [(ngModel)]="confirmPwd" class="form-control"
                placeholder="Password" #confirmPassword="ngModel" required>
            </div>
            <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
              class="alert alert-danger">

              <div [hidden]="!confirmPassword.errors.required"> Please confirm the password from above </div>

            </div>


            <button type="button" class="btn btn-block btn btn-success" [disabled]="!changePasswordForm.form.valid"
              (click)="submitPwdFunction()">Submit</button>
          </form>
          <!--End of Form-->

        </div>
      </div>
    </div>
  </div>
</div>
<!--Container div end-->