<div>
  <br>
  <mat-card>

    <section class="mat-typography">
      <h3>Create a new Issue</h3>
    </section>
    <mat-divider></mat-divider>
    <br>

    <form [formGroup]="createForm" class="create-Form">


      <mat-form-field class="field-full-width">
        <input matInput placeholder="Issue Title" formControlName="title" #title>
      </mat-form-field>

      <b>Description</b>
      <p-editor placeholder="Add some descrption" formControlName="description"
        (onTextChange)="editorTextChanged($event)" [style]="{'height':'320px'}"> </p-editor>

      <br>
      <mat-form-field>
        <mat-select placeholder="Assigned to" formControlName="assignee" #assignee>
          <mat-option *ngFor="let assignee of assignedToArray" [value]="assignee"> {{assignee}} </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option value="Backlog">Backlog</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Testing">Testing</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>

      <button mat-raised-button color="accent" [routerLink]="['/User-Dashboard']">Back</button> &nbsp;&nbsp;
      <button type="submit" (click)="addIssue(title.value, this.description, assignee.value, status.value)"
        [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>

    </form>

  </mat-card>
</div>